body {
  padding: 0;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

.content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tools {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  gap: 1em;
}

.colors {
  display: flex;
  width: 300px;
  height: 75px;
  gap: 1em;
  border: none;
  border-radius: 50px;
  box-shadow: 2px 8px 13px -3px #747272bf;
  background-color: #6b3abb;
  transition-duration: 0.1s;
}

.colors:hover {
  background-color: #b496b4;
}

.brush-color,
.back-color {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  font-weight: 700;
  color: #fff;
}

#color-picker,
#background-color {
  appearance: none;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 2px 8px 13px -3px #747272bf;
  margin: 10px;
  
}

#color-picker::-webkit-color-swatch,
#background-color::-webkit-color-swatch,
#color-picker::-webkit-color-swatch-wrapper,
#background-color::-webkit-color-swatch-wrapper {
  border-radius: 50%;
  border: none;
}

#color-picker::-moz-color-swatch,
#background-color::-moz-color-swatch {
  border-radius: 50%;
  border: none;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2em;
  margin: 0 10em;
}

.flex-grow-right {
  display: flex;
  width: 200px;
}

.slider-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  align-items: center;
  justify-content: center;
}

.middle button,
.tools button {
  display: flex;
  justify-content: center;
  width: 100px;
  padding: 10px;
  color: #fff;
  background-color: #6b3abb;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition-duration: 0.05s;
  font-weight: 700;
  box-shadow: 0 4px #9b85bd;
}

.middle button:hover,
.tools button:hover {
  background-color: #b496b4;
  box-shadow: 0 4px #75698a;
}

.middle .slider::-webkit-slider-thumb:hover {
  background-color: #b496b4;
}

.middle .slider::-moz-range-thumb:hover {
  background-color: #b496b4;
}

.middle button:active,
.tools button:active {
  box-shadow: 0 2px #75698a;
  transform: translateY(4px);
}

#value {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  text-align: center;
  color: rgb(180, 150, 180);
  font-size: 15px;
  font-weight: 700;
}

.slider {
  height: 15px;
  width: 200px;
  appearance: none;
  border-radius: 25px;
  box-shadow: 2px 8px 13px -3px #747272bf;
}

.slider::-webkit-slider-thumb {
  cursor: pointer;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #6b3abb;
  border-radius: 50%;
  box-shadow: 2px 8px 13px -3px #747272bf;
  transition-duration: 0.1s;
}

.slider::-moz-range-thumb {
  cursor: pointer;
  appearance: none;
  height: 20px;
  width: 20px;
  background-color: #6b3abb;
  border: none;
  border-radius: 50%;
  box-shadow: 2px 8px 13px -3px #747272bf;
  transition-duration: 0.1s;
}

.grid {
  display: flex;
  border-top: 1px solid #aaaaaa;
  border-left: 1px solid #aaaaaa;
  max-height: 640px;
  max-width: 640px;
  height: 80vmin;
  width: 80vmin;
  flex-shrink: 0;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 6px 10px 20px -1px #747272bf;
}

.x {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.y {
  background-color: white;
  border-bottom: 1px solid #aaaaaa;
  border-right: 1px solid #aaaaaa;
  flex: 1;
}
