body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: flex;
  border: solid red;
}

.y {
  width: 16px;
  height: 16px;
  border: 1px solid #777;
}