body {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.grid {
  display: flex;
  border-top: 1px solid #777;
  border-left: 1px solid #777;
}

.y {
  background-color: white;
  width: 20px;
  height: 20px;
  border-bottom: 1px solid #777;
  border-right: 1px solid #777;
}
